.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* css for input fields in login and signup page */
.input-box{
  display: block;
  margin: 25px;
  padding: 10px;
  width: 300px;
  border: 1px solid cornflowerblue;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 15px;
}


/* for removing arrows in mobile number input field */
input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        display: none;
      }


/* css for landing page */
.landing-page{
  align-items: center;
  margin: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.landing-page h1{
  color: rgb(41, 102, 215);
  margin-bottom: 50px;
  margin-top: 50px;
}

.landing-page-buttons button{
  margin: 20px;
  color: white;
  border-radius: 6px;
}

.landingPageButtonsLinks{
  color: white;
  text-decoration: none;
}

.landing-page h1{
  color: dimgray;
}
.landing-page h3{
  /* color: rgb(41, 102, 215); */
  color: dimgrey;
}

/* css for login page */
.login-title{
  text-align: center;
  margin-bottom: 50px;
  color: rgb(41, 102, 215);
}

.login{
  text-align: center;
  margin-top: 100px;
  border: 1.5px solid rgb(41, 102, 215); 
  border-radius: 10px;
  margin: auto;
  width: 40%;
  /* padding: 10px; */
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom:25px ;
  margin-top: 150px;
}

.login button{
  margin-top: 20px;
  background-color: rgb(41, 102, 215);
}




/* css for signup page */
.signup-page button{
  padding: 10px;
  border: 1px solid cornflowerblue;
  border-radius: 5px;
  background-color: rgb(41, 102, 215);
  
}

.signup-page{
  text-align: center;
  border: 1.5px solid rgb(41, 102, 215); 
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom:25px ;
  margin-top: 150px;
  width: 40%;
  margin: auto;
  margin-top: 150px;
  border-radius: 10px;
}

.signup-title{
  margin-bottom: 50px;
  color: rgb(41, 102, 215);
}

.signup-page button{
  margin-top: 20px;
}

/* css for navbar and logout tab */
.nav-ul li{
  padding: 10px;
  justify-content: center;
  list-style-type: none;
  margin: auto;
}

.nav-ul li a{
  padding: 5px;
  text-decoration: none;
  margin-right: auto;
  color: #282c34;
  font-weight: 600;
  font-size: 20px;
}

.nav-ul li h3{
  font-weight: 600;
  margin-top: 15px;
  font-size: 25px;
}


.nav-ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  margin: 0;
  background-color: cornflowerblue;
}

.userAndLogout{
  display: flex;
  margin: auto;
  font-size: 20px;
  align-items: center;
  font-weight: 600;
}

.userAndLogout .navDrop{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: cornflowerblue;
  border: none;
  color: black;
}

.navDrop li{
  font-size: larger;
}

.navDrop ul li{
  font-size: large;
}





